<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionic.example123123" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ng-walkthrough-ionic-example</name>
  <description>
    ng-walkthrough-ionic-example
  </description>
  <content src="index.html" />
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="2000" />
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar" />
  </feature>
  <platform name="android">
  </platform>
  <plugin name="cordova-plugin-console" spec="^1.0.0" />
  <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
  <plugin name="ionic-plugin-keyboard" spec="^1.0.0" />
</widget>
